
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    font-family: "Red Hat Text", serif;  
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
body{
    background-color: #e7e7e7;
}
nav.container{
    background-color: #fff;
    margin: 20px;
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 20px #0000000c;
}
.nav-left {
    display: flex;
    width: 100%;
    padding-left: 10px;
}
.nav-left ul li{
    display:inline-block;
    list-style: none;
    margin-right: 20px;
}
.nav-left a{
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
}
.nav-left a:hover{
    border-color: #000;
}
.nav-middle{
    display: flex;
    justify-content: center;
}
.nav-right{
    display: flex;
    width: 100%;
    justify-content: right;
}
.nav-button{
    padding: 18px 38px;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}
.nav-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}







/* HOME SECTION */







section.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("assets/toronto_cityline.jpg");
    background-size: cover;  
    background-position: center;
    max-width: 100%;
    height: 42vw;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content:end;
    flex-direction: column;
}
section.home h1{
    color: white;
    font-family: "Playfair Display", serif;
    letter-spacing: -8px;
    font-style: italic;
    font-weight: 200;
    font-size: 150px;
    max-height: 100%;
    line-height: 1.05;
    user-select: none;
}
section.home h2{
    color: white;
    font-family: "Red Hat Text", serif;
    font-size: 25px;
    font-weight: 400;
    text-indent: 25px; 
    user-select: none;
}
.sub-card{
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    min-width: max-content;
    width: 250px;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    right: 40px;
}
.sub-card h3{
    color: white;
    font-family: "Red Hat Text", sans-serif;
    font-weight:350;
    font-size: 25px;
    padding: 20px 0px;
}
.sub-card p{
    color: rgba(255, 255, 255, 0.943);
    font-family: "Red Hat Text", serif;
    font-weight: 100;
    font-size: 15px;
}
.contact-us-button{
    padding: 18px 38px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 18px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
    width: 100%;
    border: 2px solid white;
}
.contact-us-button:hover{
    cursor: pointer;
    color: white;
    background-color: transparent;
}







/* PRODUCTS SECTION */







section.products{
    display:flex;

    background-color: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 30px 30px 30px 50px;
}
section.products .products-info{
    width: 50%;
}
section.products .products-info h2{
    color: black;
    font-family: "Red Hat Text", serif;
    font-size: 35px;
    font-weight: 530;
    letter-spacing: -1px;
    max-width:max-content;
    padding-bottom: 10px;
}
section.products .products-info p{
    color: rgba(92, 92, 92, 0.943);
    font-family: "Red Hat Text", serif;
    font-weight: 500;
    font-size: 15px;
    max-width:max-content;
}
section.products .right-cards{
    width: 50%;
    position:relative; 
}
/* the button that toggles the text within */
button.card-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 30px;
    outline: none;
}
button.card-title:hover{
    background-color: #eeeeee;
}
.collapsible{
    background-color: #f7f7f7;
    border-radius: 20px;
}
.content-box{
    display: none;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 0px 30px 30px 30px;
    width: 100%;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
    gap: 5px;
    width: 100%;
}
button.box{
    min-height: 130px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    padding: 16px 16px 16px 16px;
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    text-align: left;
    transition: all .1s linear;
    
}
button.box i{
    color: #fff;
    font-size: 30px;
}
button.box span{
    font-family: "Red Hat Text", serif;
    font-size: 18px;
    font-weight: 530;
    letter-spacing: -1px;
}
button.box:hover{
    background-color: black;
    color: white;
}
section.products .card-title > h3{
    color: black;
    font-family: "Red Hat Text", serif;
    font-size: 22px;
    font-weight: 530;
    letter-spacing: -1px;
}
section.products .card-title > i{
    background-color: #ffffff; 
    color: #444444;
    padding: 12px 12px; 
    border-radius: 10px;
    font-size: 25px;
    line-height: 0;
}







/* MUSEUM PHOTO SECTION */








.museum-photo{
    background-image: url("assets/rom_night.jpg");
    background-size:cover; 
    background-position:0% 70%;
    max-width: 100%;
    height: 42vw;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}






/* TORONTO HIGHLIGHTS SECTION */










section.highlights{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 30px 30px 30px 50px;
}
section.highlights > div{
    display: flex;
    justify-content: space-between;
}
section.highlights h2{
    color: black;
    font-family: "Red Hat Text", serif;
    font-size: 35px;
    font-weight: 530;
    letter-spacing: -1px;
    max-width:max-content;
}
section.highlights p{
    color: rgba(92, 92, 92, 0.943);
    font-family: "Red Hat Text", serif;
    font-weight: 500;
    font-size: 15px;
    max-width:max-content;
}
.media-kit-button{
    font-family: "Red Hat Text", serif;
    font-weight: 580;
    font-size: 15px;
    padding: 18px 38px;
    border-radius: 15px;
    border: 2px solid rgb(212, 211, 211);
    background-color: white;
    color: black;
    margin-top: 80px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
}
.media-kit-button:hover{
    cursor: pointer;
    border-color: black;
}






/* DATA CARDS SECTION */









section.data-cards{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
}
section.data-cards > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-height: max-content;
    align-items: center;
    /* why is align-items and justify-content switched? */
}
section.data-cards > div > h5{
    color: rgba(120, 120, 120, 0.943);
    font-family: "Red Hat Text", serif;
    font-weight: 500;
    font-size: 15px;
    max-width: max-content;
    padding-top: 18px;
}
section.data-cards > div > h1{
    color: black;
    font-family: "Red Hat Text", serif;
    font-size: 40px;
    font-weight: 530;
    letter-spacing: -1px;
    max-width:max-content;
    padding-top: 30px;
    padding-bottom: 10px;
}






/* BILLBOARDS SECTION */








section.billboards{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px; /* Sets a fixed distance of 10px between flex items */
}
section.billboards > div{
    display: flex;
    flex-grow: 1;
    height: 53vw;
    border-radius: 20px;
}
.bb1{
    background-image: url("assets/Wall_ad.png");   
    background-size: 257.14%;
    background-position: center;
}
.bb2{
    background-image: url("assets/Bus_Station_Citylight.png");
    background-size: 239.14%;
    background-position: 50% 51.2%;
}
.bb3{
    background-image: url("assets/Bus_stop_daylight.png");
    background-size: 159.43%;
    background-position: 10% 55%;
} 






/* FOOTERS SECTION */









section.footer{
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    gap: 80px;
    flex-grow: 2;
}
.contact-section{
    flex-grow: 1;
    padding-left: 15px;
    width: 33vh;
}
.footer-links div > h3, .contact-section > h3{
    color: black;
    font-family: "Red Hat Text", serif;
    font-size: 25px;
    font-weight: 530;
    letter-spacing: -1px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-links div > a > h5{
    color: rgba(92, 92, 92, 0.943);
    font-family: "Red Hat Text", serif;
    font-weight: 450;
    font-size: 18px;
    padding-bottom: 3px;
    letter-spacing: -0.5px;
}
button.email{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 20px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: black;
    align-items: center;
    color: white;
    transition: 0.2s ease-in-out;
}
button.email:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
button.email > h3{
    font-family: "Red Hat Text", serif;
    font-weight: 450;
    font-size: 18px;
    letter-spacing: -0.5;
}
button.email > i{
    font-size: 25px;
    line-height: 0;
}